#deals {
    border-top: 1px solid black;
}

.dealImage {
    max-width: 100%;
}

.dealContainer {
    display: flex;
    flex-direction: column;
}

.dealHeader {
    display: flex;
    justify-content: space-between;
}

.dealDeatils {
    display: flex;
    flex-direction: column;
    align-items: center;
}