[role="dialog"] {
  font-family: 'Source Sans Pro', sans-serif;
}

#update-deal-form {
  display: flex;
  flex-direction: column;
}

.deal-form-label {
  margin: 0.5em 0;
}

.deal-form-input {
  margin-bottom: 0.5em;
}

#updatedealexpirelabel {
  margin: 1em 0 0.5em 0;
}