@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 20% 20% 35% 5% 5%;
    height: 100vh;
  }

  #nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #profile-info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding-top: 1em;
    white-space: nowrap;
  }

  .profile-info-piece {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 2em;
  }


  .avatar-image {
    padding-left: 2em;
    padding-right: 2em;
  }

  .username {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    padding-left: 0;
  }


  #nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: #fcc603;
  }

  .nav-icon {
    width: 2em;
  }

  h1 {
    font-weight: bolder;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  li {
    list-style: none;
  }

  #footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
    text-align: center;
  }

  #logout-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }

  button {
    background-color: white;
    border-width: 1px;
  }

  #profile-abilities {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 401px) {
  body {
    display: grid;
    grid-template-rows: 7vw 1fr 5vh;
  }

  .profile-info {
    grid-row: 2 / span 1;
  }

  .profile-info-piece {
    text-align: center;
  }

  nav {
    grid-row: 1 / span 1;
    background-color: #fcc603;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  #title {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-clickable {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    justify-content: flex-end;
  }

  figure {
    display: flex;
    justify-content: center;
  }

  figcaption {
    text-align: center;
  }

  .nav-icon {
    width: 50px;
  }

  #logout-button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
  }

  .avatar-image {
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

}