@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {

  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9em auto auto auto auto auto auto;
    font-size: 10pt;
  }

  #profile-info {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding-top: 2em;

  }

  .profile-info-piece {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }

  .avatar-image {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 50%;
  }

  .username {
    font-size: 16pt;
    font-weight: bold;
  }

  h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
  }

  table,
  tr,
  td,
  th {
    border: solid black 1px;
    border-collapse: collapse;
    font-size: 10pt;
  }

  td {
    padding: .2em;
  }

  #users-table {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    margin-bottom: 2em;
  }

  #profile-abilities {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    padding-bottom: 3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 7;
    grid-row-end: 7;

    justify-self: center;
    text-align: center;

    padding-top: 2em;
    padding-bottom: 2em;

    background-color: #fcc603;
    width: 100%;
  }

  /* Rules for the div that holds the deals */
  #deals {
    grid-column-start: 1;
    grid-column-end: 4;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .deal-container {
    background-color: lightblue;
  }


  a {
    text-decoration: none;
    color: black;
  }

  #user-accounts-heading {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
  }

}





@media (min-width: 601px) {
  body {
    display: grid;
    grid-template-columns: 20em 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  h1 {
    font-size: 24pt;
  }

  table,
  tr,
  td,
  th {
    border: solid black 1px;
    border-collapse: collapse;
  }

  td {
    padding: .2em;
  }

  #users-table {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    margin-bottom: 2em;
  }

  #profile-info {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    display: grid;
    grid-template-columns: 20em;
    grid-template-rows: auto auto auto auto auto;
    padding-top: 2em;
  }

  .profile-info-piece {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }

  .avatar-image {
    justify-self: center;
    max-width: 80%;
  }

  .username {
    justify-self: center;
  }

  .firstName {
    justify-self: center;
  }

  .lastName {
    justify-self: center;
  }

  .email {
    justify-self: center;
  }

  .user-type {
    justify-self: center;
  }

  .username {
    font-size: 16pt;
    font-weight: bold;
  }

  ul {
    padding: 0;
  }

  #profile-abilities {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    padding-bottom: 3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #user-accounts-heading {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
  }


  /* Rules for the div that holds the deals */
  #deals {
    grid-column-start: 1;
    grid-column-end: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .deal-container {
    background-color: lightblue;
  }

  #footer {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #fcc603;
    width: 100%;
  }
}