@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {

  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9em auto auto auto auto auto auto;
    font-size: 10pt;
  }

  #nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #profile-info {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding-top: 2em;

  }

  .profile-info-piece {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }

  .avatar-image {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 50%;
  }

  .username {
    font-size: 16pt;
    font-weight: bold;
  }

  #nav {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: #fcc603;
  }

  #table-container {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .nav-icon {
    width: 1.5em;
    cursor: pointer;
  }


  h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  li {
    list-style: none;
  }

  table,
  tr,
  td,
  th {
    border: solid black 1px;
    border-collapse: collapse;
    font-size: 10pt;
  }

  td {
    padding: .2em;
  }

  #users-table {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    margin-bottom: 2em;
  }

  #profile-abilities {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    padding-bottom: 3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 4;
    grid-row-end: 5;

    justify-self: center;
    text-align: center;

    padding-top: 2em;
    padding-bottom: 2em;

    background-color: #fcc603;
    width: 100%;
  }

  .look-like-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }

  #logout-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: black;
}

#user-accounts-heading {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
}

@media (min-width: 601px) {
  body {
    display: grid;
    grid-template-columns: 20em 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  h1 {
    font-size: 24pt;
  }

  table,
  tr,
  td,
  th {
    border: solid black 1px;
    border-collapse: collapse;
  }

  td {
    padding: .2em;
  }

  #users-table {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    margin-bottom: 2em;
  }

  #nav-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
  }

  #nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin: 0;
    padding: 0;
  }

  #nav-items-container {
    width: 60%;
  }

  #nav {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fcc603;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .nav-icon {
    width: 1.5em;
    justify-self: center;
    cursor: pointer;
  }

  ul {
    padding: 0;
  }


  li {
    list-style: none;
    text-align: center;
  }

  .look-like-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }

  #logout-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}