#deal-form {
  display: flex;
  flex-direction: column;
}

.deal-form-label {
  padding-bottom: .5em;
}

.deal-form-input {
  margin-bottom: .5em;
}

#deal-submit-button {
  margin-top: 2em;
}

/* Fixes the height of the nicEdit text input and toolbar */
#dealdescription {
  width: 250px;
  height: 200px;
}