main {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

#table-container {

  width: 100%;
  margin: 0 auto 1em auto;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 1em;
}

#users-container {
  overflow-x: auto;
  padding: 0 1.5em 0 1.5em;
}

table,
tr,
td,
th {
  border: solid black 1px;
  border-collapse: collapse;
}

#create-user-button-container {
  display: flex;
  justify-content: flex-end;
}

#create-user-button {
  margin: 1em;
}

.editButton{
  background-color: #fcc603;
  border-width: 1px;
  border-color: black;
  border-radius: 0.5em;
}

.deleteButton{
  background-color: red;
  color: white;
  border-width: 1px;
  border-color: black;
  border-radius: 0.5em;
}

#create-user-button{
  background-color:green;
  color: white;
  border-width: 1px;
  border-color: black;
  border-radius: 0.5em;
}

/*
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  font-size: 12pt;
}

#user-accounts-heading {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

input {
  margin-top: .5em;
  margin-bottom: .5em;
}

form {
  display: flex;
  flex-direction: column;
}

#table-container {
  overflow-x: auto;

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 1em;
}

.edit-form-input {
  margin-bottom: 1em;
}

#status {
  padding: 0;
  margin: 0;
}



.edit-form-label {
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: bold;
}

.edit-form-input {
  margin-bottom: 1em;
}

#image-upload {
  width: 15em;
}

#create-user-button-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#create-user-button {
  grid-column-start: 4;
  grid-column-end: 5;
  width: 8em;
  justify-self: end;
}

table,
tr,
td,
th {
  border: solid black 1px;
  border-collapse: collapse;
}

td {
  padding: .2em;
}

#users-table {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  margin-bottom: 2em;
}
.deleteButton{
  background-color: red;
  color: white;
  border-width: 1px;
  border-color: black;
  border-radius: 0.5em;
}
.editButton{
  background-color: #fcc603;
  border-width: 1px;
  border-color: black;
  border-radius: 0.5em;
}
#create-user-button{
  background-color:green;
  color: white;
  border-width: 1px;
  border-color: black;
  border-radius: 0.5em;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  justify-self: center;
  text-align: center;

  padding-top: 1em;
  padding-bottom: 1em;

  background-color: #fcc603;
  width: 100%;

  font-weight: bold;
}

*/